@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        user-select: none;
    }

    img {
        -webkit-touch-callout: none;
    }
}

/* video-player-container {
    width: 100%;
    height: 100%;
    display: grid 
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(2)) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(5)) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(17)) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
} */

video-player-container {
    width: 100%;
    /* aspect-ratio: 16/9; */
    /* background-color: rgb(138, 11, 11); */
    /* border-radius: 15px; */
    /* overflow-y: scroll; */
    /* right: -125px; */
}

.cam-panal-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(0, 0, 0); */
    height: 350px;
    aspect-ratio: 16/9;
}

video-player {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    /* flex-grow: 1; */
    /* border-radius: 5px; */
}

/* .timelapse {
    border-radius: 10px; 
} */

.text-shadow {
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.red-glow {
    color: white;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0), 0 0 120px rgb(255, 0, 0);
    /* text-shadow: #FC0 1px 0 10px; */
}

.yellow-glow {
    color: white;
    text-shadow: 0 0 10px rgb(255, 196, 0), 0 0 20px rgb(255, 196, 0), 0 0 40px rgb(255, 196, 0), 0 0 80px rgb(255, 0, 0), 0 0 120px rgb(255, 0, 0);
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}




/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* bottom mid text */
.bottom-center {
    position: absolute;
    left: 30%;
    bottom: 0px;
    width: 50px;
    height: 50px;
    background: url('/steel-w.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* stack {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

background-img {
    pointer-events: none;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
} */

.arrow-box-left {
    position: absolute;
    height: 50px;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.arrow-left {
    transform: rotate(180deg);
    width: 50px;
    display: inline;
}

.arrow-box-right {
    position: absolute;
    height: 50px;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.arrow-right {
    width: 50px;
    display: inline;
}


.arrow-box-up {
    position: absolute;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.arrow-up {
    transform: rotate(-90deg);
    width: 50px;
}

.arrow-box-down {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.arrow-down {
    transform: rotate(90deg);
    width: 50px;
}

.ptz-vertical-line {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: white;
}

.ptz-horizontal-line {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.top-box {
    width: 100%;
    height: 60px;
    background-color: black;
}

.fill {
    width: 100%;
    height: 100%
}

.expand-notice {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}